/*HEADER*/

.menumobile {
    display: none;
}

.icomenu {
    display: none;
}


/*logo*/

.logo {
    width: 70%;
    position: relative;
    left: 1%;
}


/* */

body>header>a {
    grid-area: liens;
    display: block;
    font-size: 170%;
    color: black;
    text-align: center;
    text-decoration: none;
    padding-left: 5%;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

header>a:hover {
    transition: 0.2s;
    color: #e53935;
}


/*Taille d'origine pour l'image*/

.texteimage>img {
    width: initial;
}